#! gochomugo
# Hit the Ignore button!

# dependencies
deps/
!deps/iniparser
!deps/ligit2

# build artefacts
build/

# test artefacts
test/data/**/*.tmp.counter
test/data/**/*.out
test/data/bh-git/.gitignore
